<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/st_style.css" />
  <title>The Slow Train Café</title>
</head>
  <body>
    <div class="ststyle">
      <img src="{{ STATIC_URL }}/logo.png" alt="logo" />
      <p>
	We would love your feedback <br />
	Please answer any number of these
      </p>
      <form  action="/" method="post">
	<div class="field">
	  {{ form.drink.errors }}
	  <label for="id_drink">What drink did you have?</label><br />
	  {{ form.drink }}
	</div>
	<div class="field">
	  {{ form.rating.errors }}
	  <label for="id_rating">How was it, on a scale of 1 (terrible) to 5 (excellent)?</label><br />
	  {% for radio in form.rating %}
	  <div class="radio">
	    {{ radio }}
	  </div>
	  {% endfor %}
	</div>
	<div class="field">
	  {{ form.drink_comment.errors }}
	  <label for="id_drink_comment">Do you have any comments on your drink?</label><br />
	  {{ form.drink_comment }}
	</div>
	<div class="field">
	  {{ form.music.errors }}
	  <label for="id_music">What music would you like to hear in Slow Train?</label><br />
	  {{ form.music }}
	</div>
	<div class="field">
	  {{ form.change.errors }}
	  <label for="id_change">If you could change one thing about Slow Train, what would it be?</label><br />
	  {{ form.change }}
	</div>
	<div class="field">
	  {{ form.comment.errors }}
	  <label for="id_comment">General comments<br />(including suggestions for new questions)</label><br />
	  {{ form.comment }}
	</div>
	<input type="submit" value="Submit" class="button" />
      </form>
    </div>
  </body>
</html>
