<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="stylesheet" href="{{ STATIC_URL }}/tahoekayak.css" type="text/css" />
    <title>Tahoe City Kayak</title>
  </head>
  <body>
    <div class="tahoestyle">
      <img src="{{ STATIC_URL }}/tahoekayak_resize.jpg" alt="logo" id="image" />
      <p>We would love your feedback! <br />
	Please take a minute to answer these questions.</p>
      {% if errors %}
      <br />
      <strong>Whoops! It looks like you didn't answer some of these questions.</strong>
      {% endif %}
      <form action="" method="post">
	<div class="field">
	  <label for="id_favorite">What was your favorite memory from the tour?</label><br />
	  {{ form.favorite }}
	</div>
	<p>Rate each of the following on a scale of 1 to 5 <br />
	  (1 -- poor, 2 -- fair, 3 -- satisfactory, 4 -- good, 5 -- excellent)</p>
	<div class="field">
	  <label for="id_enjoyable">Was your tour enjoyable?</label>
	  <br />
	  {% for radio in form.enjoyable %}
	  <div class="radio">
	    {{ radio }}
	  </div>
	  {% endfor %}
	</div>
	<div class="field">
	  <label for="id_guide">Was your guide helpful and courteous?</label>
	  <br />
	  {% for radio in form.guide %}
	  <div class="radio">
	    {{ radio }}
	  </div>
	  {% endfor %}
	</div>
	<div class="field">
	  <label for="id_booking">Was your booking experience easy and pleasant?</label>
	  <br />
	  {% for radio in form.booking %}
	  <div class="radio">
	    {{ radio }}
	  </div>
	  {% endfor %}
	</div>
	<div class="field">
	  <label for="id_transport">If transportation was provided, was it satisfactory?</label>
	  <br />
	  {% for radio in form.transport %}
	  <div class="radio">
	    {{ radio }}
	  </div>
	  {% endfor %}
	</div>
	<div class="field">
	  <label for="id_comments">Comments?</label><br />
	  {{ form.comments }}
	</div>

	<input type="submit" value="Submit" class="button" />
      </form>
    </div>
  </body>
</html>
