html, body {
    background-color:rgb(159,53,32);
}

#login {
    border: 2px solid black;
    font-family:Verdana, Helvetica, sans-serif;
    font-variant:normal;
    font-size:12px;
    background-color:#ca9665;
    width:50%;
    margin:20px auto 10px auto;
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
}

.field {
    margin:10px auto 10px auto;
}

.button {
    border-width:2px;
    border-style:solid;
    border-color:#000000;
    background-color:#ffffff;
    font-family:Copperplate;
    font-size:18px;
    margin-bottom:20px;
    margin-top:5px;
}

.button:hover {
    border-width:3px;
    border-color:rgb(159,53,32);
    margin-bottom:19px;
    margin-top:4px;
}