html, body {
    text-align:center;
    font-family:'Merriweather', serif;
    background-color:#ffeedd;
    height:100%;
    margin-top:10px;
}

h1 {
    width:100%;
    margin-top:0px;
}

form {
    margin:10px auto 10px auto;
    width:50%;
    border-style:solid;
    border-width:3px;
    border-color:rgb(159,53,32);
    padding:10px;
    text-align:left;
}

input, textarea {
    margin:5px auto 5px auto;
}

.survey, .response {
    text-align:left;
}

.surveys, .responses {
    left:100px;
    position:fixed;
}