<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="stylesheet" href="{{ STATIC_URL }}/obexers.css" type="text/css" />
    <title>Obexer's Market</title>
  </head>
  <body>
    <div class="obexers">
      <img src="{{ STATIC_URL }}/Obexers.gif" alt="logo" />
      <h1> Obexer's Market </h1>
      <p>We would love your feedback! <br />
	Please take a minute to answer these questions.</p>
      {% if errors %}
      <br />
      <strong>Whoops! It looks like you didn't answer some of these questions.</strong>
      {% endif %}
      <form action="" method="post">
	<div class="field">
	  <label for="id_wifi">Did you know we have free wifi?</label>
	  {% for radio in form.wifi %}
	  <div class="radio">
	    {{ radio }}
	  </div>
	  {% endfor %}
	</div>
	<div class="field">
	  <label for="id_reason">What did you come in for today?</label>
	  <br />
	  {% for radio in form.reason %}
	  <div class="radio">
	    {{ radio }}
	  </div>
	  {% endfor %}
	</div>
	<div class="field">
	  <label for="id_everything">Did you find everything you came in for?</label>
	  {% for radio in form.everything %}
	  <div class="radio">
	    {{ radio }}
	  </div>
	  {% endfor %}
	</div>
 	<div class="field">
	  <label for="id_beer">Did you know we offer draft beer & wine by the glass?</label>
	  <br />
	  {% for radio in form.beer %}
	  <div class="radio">
	    {{ radio }}
	  </div>
	  {% endfor %}
	</div>
	<div class="field">
	  <label for="id_helpful">How helpful was our staff?</label>
	  {% for radio in form.helpful %}
	  <div class="radio">
	    {{ radio }}
	  </div>
	  {% endfor %}
	</div>
	<div class="field">
	  <label for="id_friendly">How friendly was our staff?</label>
	  {% for radio in form.friendly %}
	  <div class="radio">
	    {{ radio }}
	  </div>
	  {% endfor %}
	</div>
	<div class="field">
	  <label for="id_wish">Are there any items you wish we carried?</label>
	  {{ form.wish }}
	</div>
 	<div class="field">
	  <label for="id_general">General Comments</label>
	  {{ form.general }}
	</div>
	<input type="submit" value="Submit" class="button" />
      </form>
    </div>
  </body>
</html>
