<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link href="http://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet" type="text/css">
      <title>Responses</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/testapp.css" />
  </head>
  <body>
    <h1>Responses</h1>
    <div class="responses">
      {% for response in responses %}
      <div class="response">
	<h2>{{ response.survey }}</h2>
	<ul>
	  {% for answer in response.answers %}
	  <li>{{ answer }}</li>
	  {% endfor %}
	</ul>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
