html, body {
    text-align:center;
    color:#331111;
    font-family:Copperplate, Verdana, serif;
    font-size:20px;
    background-color:rgb(225, 9, 22);
    height:100%;
    margin-top:0px;
}

.tahoestyle {
    font-variant:small-caps;
    width:70%;
    /*    margin:15px auto 0 auto;*/
    margin-bottom:0;
    margin-top:0;
    margin-left:auto;
    margin-right:auto;
    padding:20px 10px 0 10px;
    border-width:3px;
    border-top-style:none;
    border-bottom-style:none;
    border-left-style:solid;
    border-right-style:solid;    
    border-color:#00000;
    background-color:rgb(204,201,194);
}

.button {
    border-width:2px;
    border-style:solid;
    border-color:#000000;
    background-color:#ffffff;
    font-family:inherit;
    font-size:18px;
    margin-bottom:20px;
    margin-top:15px;
}

.button:hover {
    border-width:3px;
    border-color:rgb(159,53,32);
    margin-bottom:19px;
    margin-top:14px;
}

.field {
    margin:auto auto 20px auto;
    padding:10px 0 15px 0;
}

.radio {
    display:inline;
}

.errorlist {
    color:rgb(159,53,32);
}

.thanks {
/*    font-variant:small-caps;*/
    font-size:20px;
    width:70%;
    margin:15px auto 0 auto;
    padding:20px 10px 20px 10px;
    border-width:3px;
    border-style:solid;
    border-color:#00000;
    background-color:#ca9665;
}
