<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/st_style.css" />
    <title>Logged In</title>
    <style>
      html {
      background-color:rgb(159,53,32);
      font-family:Copperplate, Verdana, serif;
      font-size:20px;
      text-align:center;
      }
      body {
      background-color:#ca9665;
      }
    </style>
  </head>
  <body>
    <h1>Logged in!</h1>
    <p>You can now head to your results page.</p>
  </body>
</html>
