<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/data_style.css" />
    <title>Responses</title>
  </head>
  <body>
    <div class="data">
      <h1>Responses</h1>
      <ul>
	<li>Number of responses: {{ count }}</li>
      </ul>
      <table>
	<tr>
	  <th> Favorite margarita |</th>
	  <th> Missing item on menu |</th>
	  <th> Best and Worst </th>
	  <th> New addition to beer list |</th>
	  <th> How long have you been visiting?</th>
	  <th> Where from? </th>
	</tr>
	{% for survey in surveys %}
	<tr>
	  <td>{{ survey.margarita }}</td>
	  <td>{{ survey.missing }}</td>
	  <td>{{ survey.best/td>
	  <td>{{ survey.beer/td>
	  <td>{{ survey.time }}</td>
	  <td>{{ survey.place }}</td>
	</tr>
	{% endfor %}
      </table>
    </div>
  </body>
</html
